body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
  }
}

h1:lang(ko),
h2:lang(ko),
h3:lang(ko),
h4:lang(ko),
h5:lang(ko),
h6:lang(ko),
p:lang(ko),
div:lang(ko),
pre:lang(ko) {
  font-family: 'Do Hyeon';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
pre {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {

}

p {
  color: #343a40;
  font-weight: 700;
}

p.language-script {
}

p.project-script {

}

pre {
  white-space: pre-wrap;
}

pre.profile-script {
  font-size:1.25rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
  min-width: 100%;
}

.skills-logo {
  text-align:center;
}

.skills-more {
  text-align:center;
}

img.icons {
  max-width:200px;
  max-height:200px;
}

img.profile {
  max-width:350px;
  max-height:350px;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: rgb(41, 57, 107);
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: rgb(41, 57, 107);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  img.profile-logo {
    max-width:10rem;
  }
}

@media (max-width: 850px) {
  .col-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 650px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 450px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.bg-primary {
  background-color: rgb(49, 83, 194) !important;
}

.text-primary {
  color: rgb(49, 83, 194) !important;
}

a {
  color: rgb(114, 146, 253);
}

a:hover, a:focus, a:active {
  color: rgb(41, 57, 107)
}

a.link {
  color: gray !important;
}

a.link-github:hover {
  color: #333333 !important;
}

a.link-youtube:hover {
  color: #ff0000 !important;
}

a.link-rss:hover {
  color: #f26522 !important;
}

div.my-auto {
  min-width: 100%;
}

div.col-profile-img {
  max-height:350px;
  max-width:266px;
}

div.col-profile-script {
  margin-left:15px;
}

div.col-blog {
  text-align:center;
}

div.row-blog {
  margin-top:2rem;
}

div.row-category {
  margin-top:1rem;
  margin-bottom:1rem;
}

div.panel-heading {
  text-align:center;
}

div.panel-body {
  text-transform: none;
  min-width: 100%;
}

div.panel-footer {
  text-align:center;
}

.text-transform-none {
  text-transform: none;
}

span.read-more-open {
}

span.read-more-close {
}

@media (min-width:576px) {
  div.card-video {
    height:300px;
  }

  img.card-1 {
  }

  img.card-2 {
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%;
  }

  img.card-3 {
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%;
  }

  iframe.card-1 {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  iframe.card-2 {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}